<section>
  <header class="page-header">
      <h1>About Us</h1>
  </header>
  <p class="description">
    Jungle is an Amazon clone using the Ruby on Rails.
    You can order anything you want from the products page and it will be delivered to you in
    a timely fashion.
  </p>
</section>
